<div>
  <div class="banner main-banner">
    <p class="heading main-heading">Provider Directory</p>
    <p class="version-number">v2.0</p>
  </div>
  <div class="content">
    <app-create-provider (createProvider)="addProvider($event)" class="content-panel"></app-create-provider>
    <app-provider-list
      [providers]="providerData"
      (removeProviders)="removeProviders($event)"
      class="content-panel">
    </app-provider-list>
  </div>
</div>
