.main-banner {
  font-weight: bold;
  padding: 2rem;
  box-shadow: 2px 2px 2px 2px rgb(47, 44, 44);
}

.main-heading {
  font-size: 4rem;
  margin: 0;
  display: inline-block;
}

.version-number {
  display: inline-block;
}

.content {
  display: flex;
  margin-top: 5rem;
  height: 100%;
}

.content-panel {
  border: 2px solid #1c1a1a;
  border-radius: 5px;
}

app-create-provider {
  flex-grow: 1;
  margin: 0 10px 0 20px;
  background-color: white;
}

app-provider-list {
  flex-grow: 4;
  margin: 0 20px 0 10px;
  background-color: white;
}
p {
  color: #ededed;
}
