.provider-name {
  font-weight: bold;
  font-size: 1.3rem;
}

.provider-specialty {
  float: right;
  font-size: 1.3rem;
}

.provider-practice-name {
  float: right;
}

.provider-info {
  padding: .2rem;
}

.hidden {
  color: transparent;
}
