<div class="provider-info" [ngClass]="{'hidden': !data.first_name}">
  <div>
    <p class="provider-name" >{{ data.last_name}}, {{data.first_name}}</p>
    <p class="provider-specialty">{{ data.specialty}}</p>
  </div>
  <div>
    <p>{{ data.email_address}}</p>
    <p class="provider-practice-name">{{ data.practice_name}}</p>
  </div>
</div>
