<div class="create-provider">
  <div class="banner card-banner">
    <p class="heading">Create Provider</p>
  </div>
  <div class="create-provider-form card-content">
    <div class="required-div">
      <p class="required-star"> * </p> <p> Indicates a required field</p>
    </div>
    <form (ngSubmit)="onSubmit()" #providerForm="ngForm">
      <div class="form-group create-provider-input">
        <label for="last-name" class="input-label">Last Name <p class="required-star">*</p>
          <p class="error-message" *ngIf="isFieldInvalid('last_name')">Please enter a valid Last Name</p>
        </label>
        <input type="text" id="last-name"
               required name="last-name"
               [ngClass]="{'invalid': isFieldInvalid('last_name')}"
               [(ngModel)]="provider.last_name"
               #lastName="ngModel">
      </div>
      <div class="form-group create-provider-input">
        <label for="first-name" class="input-label">First Name <p class="required-star">*</p>
          <p class="error-message" *ngIf="isFieldInvalid('first_name')">Please enter a valid First Name</p>
        </label>
        <input type="text" id="first-name"
               required name="first-name"
               [(ngModel)]="provider.first_name"
               [ngClass]="{'invalid': isFieldInvalid('first_name')}"
               #firstName="ngModel">
      </div>
      <div class="form-group create-provider-input">
        <label for="email-address" class="input-label">Email Address <p class="required-star">*</p></label>
        <input type="email" id="email-address"
               required name="email-address"
               email
               [(ngModel)]="provider.email_address"
               #emailAddress="ngModel">
      </div>
      <div class="form-group create-provider-input">
        <label for="specialty" class="input-label">Specialty</label>
        <input type="text" id="specialty"
               name="specialty"
               [(ngModel)]="provider.specialty"
               #specialty="ngModel">
      </div>
      <div class="form-group create-provider-input">
        <label for="practice-name" class="input-label">Practice Name</label>
        <input type="text" id="practice-name"
               name="practice-name"
               [(ngModel)]="provider.practice_name"
               #practiceName="ngModel">
      </div>
      <button type="submit" id="submit-provider" class="custom-btn submit-btn"
              [disabled]="!providerForm.valid ||
                          isFieldInvalid('first_name') ||
                          isFieldInvalid('last_name')">Submit</button>
    </form>
  </div>
</div>
