.input-label {
  display: block;
}

.create-provider-input {
  padding: .23rem;
}

.submit-btn {
  border-color: rgb(239, 239, 239);
}

.create-provider-input > input {
  width: 97%;
  font-size: 1.2rem;
}

.required-div > p .required-star{
  padding-bottom: 2rem;
}

.required-div > p {
  padding-left: .5rem;
}

.required-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.required-star {
  color: #db4057;
  vertical-align: middle;
}

.invalid {
  border-color: #db4057;
}

.error-message {
  color: #db4057;
  position: absolute;
  left: 10rem;
}

.transparent {
  color: transparent;
  position: absolute;
  left: 10rem;
}
