/* CLASSES */
.heading {
  color: #ededed;
}

.light-gray-text {
  color: lightgray;
}

.banner {
  background-color: #1c1a1a;
}

.card-banner {
  padding: .5rem;
  font-size: 1.25rem;
  background-color: #1c1a1a;
}

.card-content {
  padding-top: .5rem;
}

.custom-btn {
  border-radius: 3px;
  margin-left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.custom-btn:disabled {
  opacity: 0.3;
  cursor: auto;
}

/* ELEMENTS */
p {
  margin: 0;
  display: inline-block;
}

body {
  margin: 0;
  background-color: rgba(243, 236, 236, 0.34);
}

button {
  margin: .5rem;
}
