.heading {
  display: inline-block;
}

.sort-box {
  color: #ededed;
  float: right;
  font-size: 1rem;
}

.provider-checkbox {
  display: inline-block;
  width: 2%;
  position: relative;
  bottom: 10px;
}

.dark-background {
  background-color: #d9eaff;
}

.provider-list {
  padding: 0;
  height: 18rem;
  overflow-y: auto;
}

.provider-row {
  height: 3rem;
}

.remove-btn {
  background-color: #db4057;
  border-color: #db4057;
  color: #ededed;
}

.sort-select {
  border-radius: 2px;
  outline: 0;
}

#sort-by {
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

app-provider {
  display: inline-block;
  width: 96%;
}
