<div class="provider-list-container">
  <div class="banner card-banner">
    <p class="heading">Provider List</p>
    <span class="sort-box">
      Sort By
      <select
        (change)="sortProviders()"
        [(ngModel)]="currentSort"
        id="sort-by"
        class="sort-select">
        <option *ngFor="let sort of sortOptions" [value]="sort.value" id="{{sort.value}}}">
          {{sort.readable}}
        </option>
      </select>
      <select
        (change)="changeSortOrder()"
        id="sort-order"
        class="sort-select">
        <option [defaultSelected]="true" id="descending-sort">
          Descending
        </option>
        <option id="ascending-sort">
          Ascending
        </option>
      </select>
    </span>
  </div>
  <div class="card-content">
    <div class="provider-list">
      <div *ngFor="let provider of providers; index as i" [ngClass]="{'dark-background': i%2 != 0 }"
           class="provider-row" id="provider-{{i}}">
        <input *ngIf="provider != emptyProvider" type="checkbox" (change)="toggleProviderCheckbox(provider)"
               id="provider-{{i}}-checkbox" class="provider-checkbox"/>
        <app-provider [data]="provider" ></app-provider>
      </div>
    </div>
    <button (click)="onRemove()" id="remove-providers" [disabled]="shouldRemoveBeDisabled()"
            class="custom-btn remove-btn">Remove
    </button>
  </div>
</div>
